<h1>Editing Expense</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for :salary, url: salary_path(@salary), method: :patch do |f| %>
		<p>
			<%= f.text_field :amount , class: form-control %><br>
		</p>
		<p>
			<%= f.text_field :purchase, class: form-control %><br>
		</p>
		<p>
			<%= f.submit 'Update', class: "btn btn-success" %>
		</p>
		<% end %>
	</div>
</div>
